{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title_block %} Quiz Details {% endblock %} {% block body_block %}
<!-- <br>  -->
<a href="{% url 'Quiz:delete_quiz' pk=quiz_name.pk %}" class="btn btn-danger btn-md" onclick="return confirm('Delete This Quiz?')">Delete Quiz</a>
<h6>Quiz Name: {{quiz_name}}</h6>

<h6>Questions:</h6>
{% for quiz_obj in quiz_name.quiz_name.all %} {{ forloop.counter }}. <a href="{% url 'Quiz:edit_question' pk=quiz_obj.pk %}">{{quiz_obj.question}}</a>

<br> {% endfor %}
<hr>
<br>
<a href="" class="btn btn-info btn-md">Add Question</a>
<form method="POST">
    {{form|crispy }} {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-md">Create</button>
</form>







<br> {% endblock %}